### sensor output files ###
regeneration/output/
saltlevel/output/
temperature/output/
.csv
.err
github-token

### distance sensor dependencies ###
saltlevel/Adafruit_Python_GPIO/
saltlevel/Adafruit_Python_MCP3008/
