[Unit]
Description=Temperature Sensor Application
After=network.target

[Service]
ExecStart=/home/pi/repos/sensors/temperature/temp-sensor.py
WorkingDirectory=/home/pi/repos/sensors/temperature/output
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=pi
Environment="AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
Environment="AWS_API_KEY=YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY"
Environment="AWS_ACCESS_KEY_ID=ZZZZZZZZZZZZZZZZZZZZ"

[Install]
WantedBy=multi-user.target
